html, body {
  background-color: white;
}

.top-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}

.tools {
  padding-top: 20px;
  text-align: right;
  padding-right: 16px;
} 